<div [ngClass]="classList">
  <label for="{{ props.id }}">{{ props.label }}</label>
  <ul id="{{ props.id }}" class="checkboxes">
    <li *ngFor="let option of options; let index=index">
      <input
        id="option-{{ index }}-{{ props.id }}"
        class="input"
        type="checkbox"
        name="{{ props.name }}"
        value="{{ option.value }}"
        [disabled]="option.disabled"
        [checked]="props.control.value.includes(option.value)"
        (change)="check(option)"
      />
      <label class="label" for="option-{{ index }}-{{ props.id }}">{{ option.innerText }}</label>
    </li>
  </ul>
  <strong class="error-message">{{ message }}</strong>
</div>